/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2016, 9:00:03 PM
    Author     : Nick
*/

p {
    color:orange;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
}

body {
    background-color: slategrey;
    color: white;
    
}

form input{
   margin: 10px 10px 10px 10px;
    
}

